# Simple Login Layout

<!DOCTYPE html>
<html>
  <head>
    <title>Log in | Your App Title</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="bg-gray-300">
    <main class="container mx-auto my-6 px-4">
      <%= yield %>
    </main>

    <footer class="container mx-auto pt-4 px-4">
      <p class="text-center text-gray-500 text-xs">
        &copy; <%= Time.zone.now.year %> <%= link_to "Your Company Name", "https://example.com" %>
      </p>
    </footer>
  </body>
</html>
